Repository openstack/ansible-collections-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-magnum-base, ansible-collections-openstack-functional-devstack-magnum, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

ansible-collections-openstack-functional-devstack-base:
  parent: openstacksdk-functional-devstack
  post-run: ci/playbooks/postlog.yaml
  description: 'Run openstack collections functional tests against a devstack
  
    '
  required-projects:
  - openstack/ansible-collections-openstack
  - openstack/designate
  vars:
  ...

ansible-collections-openstack-functional-devstack-magnum-base:
  parent: ansible-collections-openstack-functional-devstack-base
  description: 'Run openstack collections functional tests against a devstack with Magnum plugin enabled
  
    '
  required-projects:
  - openstack/magnum
  - openstack/python-magnumclient
  timeout: 10800
  vars:
    devstack_localrc:
  ...

ansible-collections-openstack-functional-devstack-magnum:
  parent: ansible-collections-openstack-functional-devstack-magnum-base
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    with Magnum plugin enabled, using master of openstacksdk and latest
  
  ...

ansible-collections-openstack-functional-devstack-octavia-base:
  parent: ansible-collections-openstack-functional-devstack-base
  description: 'Run openstack collections functional tests against a devstack with Octavia plugin enabled
  
    '
  required-projects:
  - openstack/octavia
  vars:
    configure_swap_size: 8192
    tox_install_siblings: false
    devstack_plugins:
  ...

ansible-collections-openstack-functional-devstack-octavia:
  parent: ansible-collections-openstack-functional-devstack-octavia-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    with Octavia plugin enabled, using 0.*.* releases of openstacksdk
  
  ...

ansible-collections-openstack-functional-devstack-releases:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    using 0.*.* releases of openstacksdk and latest ansible release
  
    '
  required-projects:
  - name: github.com/ansible/ansible
  ...

ansible-collections-openstack-functional-devstack-ansible-2.9:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    using 0.*.* releases of openstacksdk and stable 2.9 branch of ansible
  
    '
  required-projects:
  ...

ansible-collections-openstack-functional-devstack-ansible-2.11:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    using 0.*.* releases of openstacksdk and stable 2.12 branch of ansible
  
    '
  required-projects:
  ...

Added workaround for non-determinism in ansible-inventory output
  ci/roles/inventory/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Bump minimum required openstacksdk release to 1.0.0
  README.md
  plugins/doc_fragments/openstack.py
  plugins/inventory/openstack.py
  plugins/module_utils/openstack.py
  plugins/modules/config.py
  plugins/modules/server_action.py
  requirements.txt
  tests/constraints-openstacksdk-1.x.x.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Refactored coe_cluster{,_template} modules again
  ci/roles/coe_cluster/defaults/main.yml
  ci/roles/coe_cluster/tasks/main.yml
  ci/roles/coe_cluster_template/defaults/main.yml
  ci/roles/coe_cluster_template/tasks/main.yml
  plugins/modules/coe_cluster.py
  plugins/modules/coe_cluster_template.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-magnum-base, ansible-collections-openstack-functional-devstack-magnum, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Publish 2.0.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/config.yaml
  galaxy.yml
Due: none

Fix issue with multiple records in recordset
  ci/roles/recordset/defaults/main.yml
  ci/roles/recordset/tasks/main.yml
  plugins/modules/recordset.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Do not hardcode image name and properly delete mock images in CI tests
  ci/roles/image/tasks/main.yml
  ci/roles/server_volume/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Use true and false instead of yes and no for boolean values
  ci/roles/federation_mapping/tasks/main.yml
  ci/roles/floating_ip/tasks/main.yml
  ci/roles/identity_user/tasks/main.yml
  ci/roles/keypair/tasks/main.yml
  ci/roles/keystone_federation_protocol/tasks/main.yml
  ci/roles/keystone_idp/tasks/main.yml
  ci/roles/network/tasks/main.yml
  ci/roles/object_container/tasks/main.yml
  ci/roles/port/tasks/main.yml
  ci/roles/server/tasks/main.yml
  plugins/doc_fragments/openstack.py
  plugins/modules/address_scope.py
  plugins/modules/baremetal_node_action.py
  plugins/modules/coe_cluster_template.py
  plugins/modules/floating_ip.py
  plugins/modules/identity_user.py
  plugins/modules/loadbalancer.py
  plugins/modules/port.py
  plugins/modules/router.py
  plugins/modules/server.py
  plugins/modules/server_info.py
  plugins/modules/subnet.py
  plugins/modules/volume_snapshot.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-magnum-base, ansible-collections-openstack-functional-devstack-magnum, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Respect description option and delete security group rules first
  plugins/modules/security_group.py
  plugins/modules/security_group_rule.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix for AttributeError: 'dict' object has no attribute 'status'.
  plugins/modules/floating_ip.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fixed private option in inventory plugin
  plugins/inventory/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix mistake in compute_flavor_access notes
  plugins/modules/compute_flavor_access.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add baremetal_deploy_template module
  ci/roles/baremetal_deploy_template/defaults/main.yml
  ci/roles/baremetal_deploy_template/tasks/main.yml
  meta/runtime.yml
  plugins/modules/baremetal_deploy_template.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Highlight our mode of operation more prominently
  README.md
Due: none

Change security group rules only when instructed to do so
  ci/roles/security_group/tasks/rules.yml
  plugins/modules/security_group.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Publish 2.1.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Due: none

fix(inventory): bug when using clouds_yaml_path
  plugins/inventory/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Avoid flagging ResourceNotFound as failed when desired state is 'absent'.
  plugins/module_utils/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Image filters should be dict not set
  ci/roles/image/tasks/main.yml
  plugins/modules/image.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix linters for mocking
  tests/unit/mock/loader.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add volume_type related plugins/modules
  ci/roles/volume_type/defaults/main.yml
  ci/roles/volume_type/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/volume_type.py
  plugins/modules/volume_type_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Added module for volume type encription
  ci/roles/volume_type/defaults/main.yml
  ci/roles/volume_type/tasks/main.yml
  ci/roles/volume_type/tasks/volume_encryption.yml
  plugins/modules/volume_type_encryption.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix usage of subnet_id key for router
  ci/roles/router/tasks/main.yml
  plugins/modules/router.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Adds stateful parameter to security groups
  ci/roles/security_group/tasks/main.yml
  plugins/modules/security_group.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Prevent routers to be always updated if no shared public network
  plugins/modules/router.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix port_security_enabled key for port module
  plugins/modules/port.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

correct handling of fixed ips
  plugins/modules/port.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

handle subnet_id correctly
  plugins/modules/port.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Prepare release 2.2.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Due: none

Migrate Bifrost jobs to Ubuntu Jammy
  .zuul.yaml
Due: none

CI: Fix linters-devel and devstack tests
  ci/roles/volume/tasks/volume_info.yml
  tools/run-ansible-sanity.sh
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

router: Allow specifying external network name in a different project
  ci/roles/router/tasks/main.yml
  ci/roles/router/tasks/shared_ext_network.yml
  plugins/modules/router.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

CI: Don't create port with binding profile
  ci/roles/port/defaults/main.yml
  ci/roles/port/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Disable auto-discovery for setuptools
  setup.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

fix: subnet module: allow cidr option with subnet_pool
  ci/roles/subnet/tasks/main.yml
  ci/roles/subnet/tasks/subnet-pool.yaml
  plugins/modules/subnet.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add support for creation of the default external networks
  plugins/modules/network.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add insecure_registry property to coe_cluster_templates
  plugins/modules/coe_cluster_template.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-magnum-base, ansible-collections-openstack-functional-devstack-magnum, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add vlan_tranparency for creation networks
  plugins/modules/network.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Wait for deleted server to disappear from results
  plugins/modules/server.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Allow munch results in server_info module
  plugins/modules/server_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add application_credential module
  ci/roles/application_credential/defaults/main.yml
  ci/roles/application_credential/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/application_credential.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Path conditions:
  ansible-collections-openstack-functional-devstack-base: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-magnum-base: any of: ^ci/roles/coe_cluster/.*$, ^plugins/modules/coe_cluster.py, ^plugins/modules/coe_cluster_template.py
  ansible-collections-openstack-functional-devstack-magnum: any of: ^ci/roles/coe_cluster/.*$, ^plugins/modules/coe_cluster.py, ^plugins/modules/coe_cluster_template.py
  ansible-collections-openstack-functional-devstack-octavia-base: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-octavia: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-releases: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.9: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-xena-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-victoria-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-train-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  bifrost-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  bifrost-keystone-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
