Repository openstack/ansible-collections-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

ansible-collections-openstack-functional-devstack:
  parent: openstacksdk-functional-devstack
  branches: master
  post-run: ci/playbooks/postlog.yaml
  description: 'Run openstack collections functional tests against a master devstack
  
    using master of openstacksdk with latest ansible release
  
    '
  required-projects:
  ...

ansible-collections-openstack-functional-devstack-octavia:
  parent: ansible-collections-openstack-functional-devstack
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    with Octavia plugin enabled, using releases of openstacksdk and latest
  
    ansible release. Run it only on Load Balancer changes.
  
    '
  ...

ansible-collections-openstack-functional-devstack-releases:
  parent: ansible-collections-openstack-functional-devstack
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    using releases of openstacksdk and latest ansible release
  
    '
  vars:
    tox_envlist: ansible-2.12
    tox_install_siblings: false

ansible-collections-openstack-functional-devstack-ansible-2.9:
  parent: ansible-collections-openstack-functional-devstack
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    using master of openstacksdk and stable 2.9 branch of ansible
  
    '
  required-projects:
  - name: github.com/ansible/ansible
  ...

ansible-collections-openstack-functional-devstack-ansible-2.11:
  parent: ansible-collections-openstack-functional-devstack
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    using master of openstacksdk and stable 2.12 branch of ansible
  
    '
  required-projects:
  - name: github.com/ansible/ansible
  ...

ansible-collections-openstack-functional-devstack-ansible-2.12:
  parent: ansible-collections-openstack-functional-devstack
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    using master of openstacksdk and stable 2.12 branch of ansible
  
    '
  required-projects:
  - name: github.com/ansible/ansible
  ...

ansible-collections-openstack-functional-devstack-ansible-devel:
  parent: ansible-collections-openstack-functional-devstack
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    using master of openstacksdk and devel branch of ansible
  
    '
  voting: false
  required-projects:
  - name: github.com/ansible/ansible
  ...

ansible-collections-openstack-functional-devstack-xena-ansible-2.12:
  parent: ansible-collections-openstack-functional-devstack-ansible-devel
  description: 'Run openstack collections functional tests against a xena devstack
  
    using xena brach of openstacksdk and stable 2.12 branch of ansible
  
    '
  voting: true
  override-checkout: stable/xena
  required-projects:
  ...

Dropped redundant job *-new_sdk
  .zuul.yaml
Due: none

Dropped inherited variable tox_install_siblings
  .zuul.yaml
Due: none

Run tripleo*{train,wallaby}-osa jobs on stable/1.0.0 branch only
  .zuul.yaml
Due: none

Synchronized Zuul CI configuration across all branches
  .zuul.yaml
Due: none

Fixed job hierarchy in Zuul CI configuration
  .zuul.yaml
  test-requirements.txt
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Run jobs for older OpenStack releases on stable/1.0.0 branch only
  .zuul.yaml
Due: none

Changed jobs against master branch of OpenStack SDK to non-voting
  .zuul.yaml
Due: none

Fixed branch matching for parent jobs when on stable/1.0.0 branch
  .zuul.yaml
Due: none

Synchronized galaxy.yml and galaxy.yml.in files
  galaxy.yml.in
Due: none

Fixed job hierarchy for Zuul CI
  .zuul.yaml
Due: none

Set Zuul CI job for OpenStack Train to voting
  .zuul.yaml
Due: none

Added job variants for stable/1.0.0 branch to Zuul CI config
  .zuul.yaml
  tests/pip-constraints-none.txt
  tests/pip-constraints-openstacksdk-0.x.x.txt
  tox.ini
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Reenabled check-import.sh which tests imports to Ansible Galaxy
  .zuul.yaml
  test-requirements-2.11.txt
  test-requirements-2.12.txt
  test-requirements-2.9.txt
  tools/check-import.sh
  tox.ini
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix ansible-lint issues for newest version
  plugins/inventory/openstack.py
  plugins/modules/address_scope.py
  plugins/modules/image.py
  plugins/modules/lb_health_monitor.py
  plugins/modules/routers_info.py
  plugins/modules/subnet.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Refactored tox requirements for different Ansible releases
  .zuul.yaml
  test-requirements-2.12.txt
  test-requirements-2.9.txt
  test-requirements.txt
  tests/constraints-none.txt
  tests/constraints-openstacksdk-0.x.x.txt
  tests/constraints-openstacksdk-1.x.x.txt
  tests/requirements-ansible-2.11.txt
  tests/requirements-ansible-2.12.txt
  tests/requirements-ansible-2.9.txt
  tests/requirements.txt
  tox.ini
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add 'all_projects' to server_action module
  ci/roles/server/defaults/main.yaml
  ci/roles/server/tasks/server_actions.yml
  ci/run-ansible-tests-collection.sh
  plugins/modules/server_action.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add subnet pool module
  ci/roles/subnet_pool/defaults/main.yml
  ci/roles/subnet_pool/tasks/main.yaml
  ci/run-collection.yml
  meta/runtime.yml
  plugins/modules/subnet_pool.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fixed Ansible branch in base job openstack-tox-linters-ansible
  .zuul.yaml
Due: none

Updated return value docs of compute_service_info module
  ci/roles/nova_services/tasks/main.yml
  plugins/modules/compute_service_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Changed compute_flavor_info module to use OpenStack SDK's proxy layer
  ci/roles/compute_flavor_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/compute_flavor_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix logic in routers_info
  plugins/modules/routers_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Dropped deprecated return values in floating_ip_info and assert remaining fields
  ci/roles/floating_ip_info/tasks/main.yml
  plugins/modules/floating_ip_info.py
Due: ansible-collections-openstack-functional-devstack, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-ansible-devel, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Release 1.8.0 version
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Due: none

Path conditions:
  ansible-collections-openstack-functional-devstack: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-octavia: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-releases: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.9: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-devel: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-xena-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-victoria-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-train-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-queens-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  tripleo-ci-centos-8-standalone-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^test-requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-9-standalone-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^test-requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-8-standalone-train-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^test-requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-8-standalone-wallaby-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^test-requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-9-standalone-wallaby-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^test-requirements.*$, ^setup.*$, tox.ini)
  bifrost-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  bifrost-keystone-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
