Repository openstack/ansible-collections-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-magnum-base, ansible-collections-openstack-functional-devstack-magnum, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

ansible-collections-openstack-functional-devstack-base:
  parent: openstacksdk-functional-devstack
  post-run: ci/playbooks/postlog.yaml
  description: 'Run openstack collections functional tests against a devstack
  
    '
  required-projects:
  - openstack/ansible-collections-openstack
  - openstack/designate
  vars:
  ...

ansible-collections-openstack-functional-devstack-magnum-base:
  parent: ansible-collections-openstack-functional-devstack-base
  description: 'Run openstack collections functional tests against a devstack with Magnum plugin enabled
  
    '
  required-projects:
  - openstack/magnum
  - openstack/python-magnumclient
  timeout: 10800
  vars:
    devstack_localrc:
  ...

ansible-collections-openstack-functional-devstack-magnum:
  parent: ansible-collections-openstack-functional-devstack-magnum-base
  branches: master
  description: 'Run openstack collections functional tests against a master devstack
  
    with Magnum plugin enabled, using master of openstacksdk and latest
  
  ...

ansible-collections-openstack-functional-devstack-octavia-base:
  parent: ansible-collections-openstack-functional-devstack-base
  description: 'Run openstack collections functional tests against a devstack with Octavia plugin enabled
  
    '
  required-projects:
  - openstack/octavia
  vars:
    configure_swap_size: 8192
    tox_install_siblings: false
    devstack_plugins:
  ...

ansible-collections-openstack-functional-devstack-octavia:
  parent: ansible-collections-openstack-functional-devstack-octavia-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    with Octavia plugin enabled, using 0.*.* releases of openstacksdk
  
  ...

ansible-collections-openstack-functional-devstack-releases:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    using 0.*.* releases of openstacksdk and latest ansible release
  
    '
  required-projects:
  - name: github.com/ansible/ansible
  ...

ansible-collections-openstack-functional-devstack-ansible-2.9:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    using 0.*.* releases of openstacksdk and stable 2.9 branch of ansible
  
    '
  required-projects:
  ...

ansible-collections-openstack-functional-devstack-ansible-2.11:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    using 0.*.* releases of openstacksdk and stable 2.12 branch of ansible
  
    '
  required-projects:
  ...

Fix CI in collection
  .zuul.yaml
  ci/run-collection.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Run functional testing regardless of pep8/linter results
  .zuul.yaml
Due: none

Remove 2.9 jobs from Zuul config
  .zuul.yaml
Due: none

Fix regression in quota module
  ci/run-collection.yml
  plugins/modules/quota.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix exception when creating object from file
  ci/roles/object/tasks/main.yml
  plugins/modules/object.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix exception when updating container with metadata
  ci/roles/object_container/tasks/main.yml
  plugins/modules/object_container.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add Neutron trunk module
  .zuul.yaml
  ci/roles/trunk/defaults/main.yml
  ci/roles/trunk/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/trunk.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix typo in parameter description
  plugins/modules/identity_user.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Ensure coe_cluster_template compare labels properly
  changelogs/fragments/coe_cluster_template_labels_comparison.yml
  ci/roles/coe_cluster_template/tasks/main.yml
  plugins/modules/coe_cluster_template.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-magnum-base, ansible-collections-openstack-functional-devstack-magnum, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Enable glance-direct interop image import
  plugins/modules/image.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix test for server shelve
  ci/roles/server_action/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Allow wait: false when auto_ip is false
  plugins/modules/server.py
  tests/unit/modules/cloud/openstack/test_server.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add inactive state for the images
  changelogs/fragments/image_deactivate_reactivate.yml
  ci/roles/image/tasks/main.yml
  plugins/modules/image.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix typo in openstack.cloud.lb_pool
  plugins/modules/lb_pool.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add module to filter available volume services.
  ci/roles/volume_service/defaults/main.yml
  ci/roles/volume_service/tasks/main.yml
  ci/run-collection.yml
  meta/runtime.yml
  plugins/modules/volume_service_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add target_all_project option
  ci/roles/neutron_rbac_policy/defaults/main.yml
  ci/roles/neutron_rbac_policy/tasks/main.yml
  plugins/modules/neutron_rbac_policy.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Allow to specify multiple allocation pools when creating a subnet
  ci/roles/subnet/tasks/subnet-allocation.yml
  ci/roles/subnet/tasks/subnet-pool.yaml
  plugins/modules/subnet.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Release 2.3.0 version
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
  meta/runtime.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix CI and add 2.16 Ansible job
  .zuul.yaml
  setup.py
  tests/requirements-ansible-2.16.txt
  tox.ini
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

CI: wait until server is shelved offloaded
  ci/roles/server_action/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Replace 2.16 jobs by 2.18 Ansible jobs
  .zuul.yaml
  tests/requirements-ansible-2.18.txt
  tox.ini
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add ability to pass client tls certificate
  plugins/module_utils/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Change token for new Ansible Galaxy server
  .zuul.yaml
Due: none

Remove secret from experimental branch
  .zuul.yaml
Due: none

Linter and CI tasks fixes
  .zuul.yaml
  ci/roles/identity_user_info/tasks/main.yml
  ci/roles/port/tasks/main.yml
  ci/roles/volume/tasks/volume_info.yml
  plugins/modules/baremetal_node.py
  plugins/modules/image.py
  plugins/modules/loadbalancer.py
  plugins/modules/quota.py
  plugins/modules/security_group.py
  plugins/modules/server.py
  plugins/modules/stack.py
  tests/unit/mock/loader.py
  tools/run-ansible-sanity.sh
  tox.ini
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Remove obsolete secret from stable branch
  .zuul.yaml
Due: none

Release 2.3.1 version
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/.keep
  changelogs/fragments/coe_cluster_template_labels_comparison.yml
  changelogs/fragments/image_deactivate_reactivate.yml
  galaxy.yml
Due: none

Fix release job
  .zuul.yaml
  ci/publish/publish_collection.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Drop compat implementations for tests
  tests/unit/compat/__init__.py
  tests/unit/compat/builtins.py
  tests/unit/compat/mock.py
  tests/unit/compat/unittest.py
  tests/unit/mock/path.py
  tests/unit/mock/procenv.py
  tests/unit/modules/cloud/openstack/test_server.py
  tests/unit/modules/utils.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix openstack.cloud.port module failure in check mode
  plugins/modules/port.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

add an option to use only IPv4 only for ansible_host and ansible_ssh_host
  plugins/inventory/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Release 2.3.2 version
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Due: none

Add test to only_ipv4 in inventory
  ci/roles/inventory/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Fix deprecated ANSIBLE_COLLECTIONS_PATHS variable
  ci/run-ansible-tests-collection.sh
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Release 2.3.3 version
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Due: none

Add loadbalancer quota options
  ci/roles/quota/defaults/main.yml
  ci/roles/quota/tasks/loadbalancer.yml
  plugins/modules/quota.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add Traits Module
  ci/roles/trait/defaults/main.yml
  ci/roles/trait/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/trait.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Allow create instance with tags
  ci/roles/server/tasks/main.yml
  plugins/modules/server.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Release 2.4.0 version
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Due: none

Fix missed client_cert in OpenStackModule
  plugins/module_utils/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Path conditions:
  ansible-collections-openstack-functional-devstack-base: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-magnum-base: any of: ^ci/roles/coe_cluster/.*$, ^plugins/modules/coe_cluster.py, ^plugins/modules/coe_cluster_template.py
  ansible-collections-openstack-functional-devstack-magnum: any of: ^ci/roles/coe_cluster/.*$, ^plugins/modules/coe_cluster.py, ^plugins/modules/coe_cluster_template.py
  ansible-collections-openstack-functional-devstack-octavia-base: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-octavia: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-releases: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.9: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-xena-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-victoria-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-train-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  bifrost-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
  bifrost-keystone-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, .zuul.yaml
