Repository openstack/ansible-collections-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Path conditions:
  ansible-collections-openstack-functional-devstack-base: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-octavia-base: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-octavia: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-releases: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.9: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-xena-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-victoria-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-train-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-queens-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  tripleo-ci-centos-8-standalone-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-9-standalone-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-8-standalone-train-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-8-standalone-wallaby-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-9-standalone-wallaby-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^setup.*$, tox.ini)
  bifrost-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  bifrost-keystone-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml

Applied workaround in CI for issue #78017 in ansible-core
  tests/requirements.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Make publish_collection more universal
  ci/publish/publish_collection.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Refactored endpoint module and explained region attribute
  ci/roles/endpoint/tasks/main.yml
  plugins/modules/endpoint.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Update image for new sdk
  ci/roles/image/defaults/main.yml
  ci/roles/image/tasks/main.yml
  plugins/modules/image.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Update subnet module to be compatible with new sdk
  .zuul.yaml
  ci/roles/subnet/defaults/main.yml
  ci/roles/subnet/tasks/main.yml
  plugins/modules/subnet.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Updates security group rule for latest sdk
  ci/roles/security_group/defaults/main.yml
  ci/roles/security_group/tasks/main.yml
  plugins/modules/security_group_rule.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add SDK logging option for openstack ansible collections.
  .zuul.yaml
  ci/roles/logging/defaults/main.yaml
  ci/roles/logging/tasks/main.yaml
  ci/run-collection.yml
  plugins/doc_fragments/openstack.py
  plugins/module_utils/openstack.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Split CI tests for security_group and security_group_rule modules
  .zuul.yaml
  ci/roles/security_group/defaults/main.yml
  ci/roles/security_group/tasks/main.yml
  ci/roles/security_group_rule/defaults/main.yml
  ci/roles/security_group_rule/tasks/main.yml
  ci/run-collection.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Makes security_group_info compatible with new openstacksdk
  ci/roles/security_group/defaults/main.yml
  ci/roles/security_group/tasks/main.yml
  plugins/modules/security_group_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Backport improvements to keypair_info
  ci/roles/keypair/defaults/main.yml
  ci/roles/keypair/tasks/main.yml
  plugins/modules/keypair_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Update routers_info for the new SDK
  .zuul.yaml
  ci/roles/router/defaults/main.yml
  ci/roles/router/tasks/main.yml
  plugins/modules/routers_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Backport improvements to role_assignment
  ci/roles/role_assignment/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/role_assignment.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Backport improvements to catalog_service
  ci/roles/catalog_service/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/catalog_service.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Fix filtered by type
  plugins/modules/recordset.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Backport improvements to endpoint module
  ci/roles/endpoint/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/endpoint.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Added assertions on endpoint module results
  ci/roles/endpoint/defaults/main.yaml
  ci/roles/endpoint/tasks/main.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Update project module to be compatible with new sdk
  ci/roles/project/defaults/main.yml
  ci/roles/project/tasks/main.yml
  plugins/modules/project.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Replaced code in routers_info module with openstacksdk function
  plugins/modules/routers_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Refactored TripleO jobs, e.g. to use latest openstacksdk RPM
  .zuul.yaml
Due: none

Dropped CentOS8-based TripleO job
  .zuul.yaml
Due: none

Refactored TripleO jobs
  .zuul.yaml
Due: none

Raise minimum OpenStack SDK version to 0.99.0 again
  README.md
  plugins/doc_fragments/openstack.py
  plugins/module_utils/openstack.py
  requirements.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Update port info
  .zuul.yaml
  ci/roles/port_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/port_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Add a wait argument to baremetal_node
  plugins/modules/baremetal_node.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Remove deprecated stuff from baremetal_node
  plugins/modules/baremetal_node.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Use master branch of openstacksdk in Bifrost jobs
  .zuul.yaml
Due: none

Don't use deprecated distutils from python 3.10
  plugins/module_utils/openstack.py
  scripts/inventory/openstack_inventory.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Update router for 2.0.0
  ci/roles/router/defaults/main.yml
  ci/roles/router/tasks/main.yml
  plugins/modules/router.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Refactored server and server_info modules
  .zuul.yaml
  ci/roles/floating_ip/tasks/main.yml
  ci/roles/server/defaults/main.yaml
  ci/roles/server/defaults/main.yml
  ci/roles/server/tasks/main.yml
  ci/roles/server/tasks/server_actions.yml
  plugins/doc_fragments/openstack.py
  plugins/module_utils/openstack.py
  plugins/modules/server.py
  plugins/modules/server_info.py
  plugins/modules/server_metadata.py
  plugins/modules/volume.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Fixed code violating Flake8 rule E275
  tests/unit/modules/cloud/openstack/test_server.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Update baremetal_inspect to be compatible with new sdk
  ci/roles/baremetal_inspect/defaults/main.yml
  ci/roles/baremetal_inspect/tasks/main.yml
  plugins/modules/baremetal_inspect.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Refactored router module
  ci/roles/router/tasks/main.yml
  plugins/modules/router.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Update federation_idp_info module to use proxy layer
  ci/roles/keystone_idp/defaults/main.yml
  ci/roles/keystone_idp/tasks/main.yml
  plugins/modules/federation_idp_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Refactored port and port_info modules
  .zuul.yaml
  ci/roles/port/defaults/main.yml
  ci/roles/port/tasks/main.yml
  ci/roles/port_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/port.py
  plugins/modules/port_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Update identity_group for 2.0.0
  .zuul.yaml
  ci/roles/group/defaults/main.yml
  ci/roles/group/tasks/main.yml
  ci/roles/identity_group/defaults/main.yml
  ci/roles/identity_group/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_group.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Dropped extra interfaces_info attribute from routers_info module
  ci/roles/router/tasks/main.yml
  plugins/modules/routers_info.py
  tests/unit/modules/cloud/openstack/test_routers_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src
