Repository openstack/ansible-collections-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-octavia-base, ansible-collections-openstack-functional-devstack-octavia, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

ansible-collections-openstack-functional-devstack-base:
  parent: openstacksdk-functional-devstack
  post-run: ci/playbooks/postlog.yaml
  description: 'Run openstack collections functional tests against a devstack
  
    '
  required-projects:
  - openstack/ansible-collections-openstack
  - openstack/designate
  vars:
  ...

ansible-collections-openstack-functional-devstack-octavia-base:
  parent: ansible-collections-openstack-functional-devstack-base
  description: 'Run openstack collections functional tests against a devstack with Octavia plugin enabled
  
    '
  pre-run: ci/playbooks/get_amphora_tarball.yaml
  required-projects:
  - openstack/octavia
  vars:
    configure_swap_size: 8192
  ...

ansible-collections-openstack-functional-devstack-octavia:
  parent: ansible-collections-openstack-functional-devstack-octavia-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    with Octavia plugin enabled, using 0.*.* releases of openstacksdk
  
  ...

ansible-collections-openstack-functional-devstack-releases:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    using 0.*.* releases of openstacksdk and latest ansible release
  
    '
  required-projects:
  - name: github.com/ansible/ansible
  ...

ansible-collections-openstack-functional-devstack-ansible-2.9:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    using 0.*.* releases of openstacksdk and stable 2.9 branch of ansible
  
    '
  required-projects:
  ...

ansible-collections-openstack-functional-devstack-ansible-2.11:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    using 0.*.* releases of openstacksdk and stable 2.12 branch of ansible
  
    '
  required-projects:
  ...

ansible-collections-openstack-functional-devstack-ansible-2.12:
  parent: ansible-collections-openstack-functional-devstack-base
  branches: stable/1.0.0
  description: 'Run openstack collections functional tests against a master devstack
  
    using 0.*.* releases of openstacksdk and stable 2.12 branch of ansible
  
    '
  required-projects:
  ...

ansible-collections-openstack-functional-devstack-xena-ansible-2.12:
  parent: ansible-collections-openstack-functional-devstack-base
  description: 'Run openstack collections functional tests against a xena devstack
  
    using xena branch of openstacksdk and stable 2.12 branch of ansible
  
    '
  branches: stable/1.0.0
  override-checkout: stable/xena
  required-projects:
  ...

Use proxy layer in identity_user module
  .zuul.yaml
  ci/roles/identity_user/defaults/main.yml
  ci/roles/identity_user/tasks/main.yml
  ci/roles/user/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_user.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Backported changes to identity_user from master branch
  ci/roles/identity_user/defaults/main.yml
  ci/roles/identity_user/tasks/main.yml
  ci/roles/user/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_user.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Refactored identity_domain_info
  .zuul.yaml
  ci/roles/identity_domain_info/defaults/main.yml
  ci/roles/identity_domain_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_domain_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Reverted identity_user_info from identity.users() to search_users()
  plugins/modules/identity_user_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Update identity_role_info for latest openstacksdk release
  .zuul.yaml
  ci/roles/identity_role/tasks/main.yml
  ci/roles/identity_role_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_role_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Backported changes to identity_domain_info from master branch
  ci/roles/identity_domain_info/defaults/main.yml
  ci/roles/identity_domain_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_domain_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Backported changes to identity_role_info from master branch
  ci/roles/identity_role_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_role_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Moves image_info from cloud to proxy object
  .zuul.yaml
  ci/roles/image/tasks/main.yml
  ci/roles/image_info/defaults/main.yml
  ci/roles/image_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/image_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Backported changes to image_info from master branch
  ci/roles/image/tasks/main.yml
  ci/roles/image_info/defaults/main.yml
  ci/roles/image_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/image_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Set owner in image module
  ci/roles/image/tasks/main.yml
  plugins/modules/image.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Update identity_group_info to new sdk
  .zuul.yaml
  ci/roles/identity_group_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_group_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Removed Zuul CI job for OpenStack Queens
  .zuul.yaml
Due: none

Backported changes to identity_group_info from master branch
  ci/roles/identity_group_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/identity_group_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Changed TripleO jobs to use correct release files
  .zuul.yaml
Due: none

Updated pip constraints for release candidates of OpenStackSDK's first major release
  .zuul.yaml
  tests/constraints-openstacksdk-0.x.x.txt
  tests/constraints-openstacksdk-1.x.x.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Updated pip constraints for release candidates of OpenStackSDK's first major release
  tests/constraints-openstacksdk-0.x.x.txt
  tests/constraints-openstacksdk-1.x.x.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Raise minimum OpenStack SDK version to 0.99.0
  README.md
  plugins/doc_fragments/openstack.py
  plugins/module_utils/openstack.py
  requirements.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Lowered maximum OpenStack SDK version to 0.98.999
  README.md
  plugins/doc_fragments/openstack.py
  plugins/module_utils/openstack.py
  requirements.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Revert "Raise minimum OpenStack SDK version to 0.99.0"
  README.md
  plugins/doc_fragments/openstack.py
  plugins/module_utils/openstack.py
  requirements.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Warn users about us breaking backward compatibility
  README.md
Due: none

Use bifrost's stable/yoga branch for jobs with OpenStack SDK 0.x.x
  .zuul.yaml
Due: none

Update recordset module to be compatible with OpenStack SDK 0.99.x/1.0.x
  .zuul.yaml
  ci/roles/dns/tasks/main.yml
  ci/roles/recordset/defaults/main.yml
  ci/roles/recordset/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/recordset.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Update host_aggregate to be compatible with new sdk
  .zuul.yaml
  ci/roles/host_aggregate/defaults/main.yml
  ci/roles/host_aggregate/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/host_aggregate.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Correctly build params dict in recordset
  ci/roles/recordset/tasks/main.yml
  plugins/modules/recordset.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Changed our DevStack based Zuul CI jobs to voting
  .zuul.yaml
Due: none

Backport enhancements to host_aggregate module
  ci/roles/host_aggregate/defaults/main.yml
  ci/roles/host_aggregate/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/host_aggregate.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Change network modules to work with new SDK
  .zuul.yaml
  ci/roles/floating_ip/tasks/main.yml
  ci/roles/network/defaults/main.yml
  ci/roles/network/tasks/main.yml
  plugins/modules/network.py
  plugins/modules/networks_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Update catalog service for the new sdk
  .zuul.yaml
  ci/roles/catalog_service/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/catalog_service.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Update role_assignment to use proxy
  .zuul.yaml
  ci/roles/role_assignment/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/role_assignment.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Update endpoint to new proxy layer
  .zuul.yaml
  ci/roles/endpoint/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/endpoint.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Moves keypair_info from cloud to proxy object
  ci/roles/keypair/defaults/main.yml
  ci/roles/keypair/tasks/main.yml
  plugins/modules/keypair_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Backport improvements to recordset module
  ci/roles/dns/tasks/main.yml
  ci/roles/recordset/defaults/main.yml
  ci/roles/recordset/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/recordset.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Return details in baremetal_node_info when iterating over all machines
  plugins/modules/baremetal_node_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Make publish_collection more universal
  ci/publish/publish_collection.yml
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Update project_info module to new sdk
  .zuul.yaml
  ci/roles/project_info/tasks/main.yml
  ci/run-collection.yml
  plugins/modules/project_info.py
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, tripleo-ci-centos-8-standalone-osa, tripleo-ci-centos-9-standalone-osa, tripleo-ci-centos-8-standalone-train-osa, tripleo-ci-centos-8-standalone-wallaby-osa, tripleo-ci-centos-9-standalone-wallaby-osa, bifrost-collections-src, bifrost-keystone-collections-src

Applied workaround in CI for issue #78017 in ansible-core
  tests/requirements.txt
Due: ansible-collections-openstack-functional-devstack-base, ansible-collections-openstack-functional-devstack-releases, ansible-collections-openstack-functional-devstack-ansible-2.9, ansible-collections-openstack-functional-devstack-ansible-2.11, ansible-collections-openstack-functional-devstack-ansible-2.12, ansible-collections-openstack-functional-devstack-xena-ansible-2.12, ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12, ansible-collections-openstack-functional-devstack-victoria-ansible-2.12, ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11, ansible-collections-openstack-functional-devstack-train-ansible-2.11, ansible-collections-openstack-functional-devstack-queens-ansible-2.11, bifrost-collections-src, bifrost-keystone-collections-src

Path conditions:
  ansible-collections-openstack-functional-devstack-base: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-octavia-base: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-octavia: any of: ^ci/roles/loadbalancer/.*$, ^plugins/modules/lb_health_monitor.py, ^plugins/modules/lb_listener.py, ^plugins/modules/lb_member.py, ^plugins/modules/lb_pool.py, ^plugins/modules/loadbalancer.py
  ansible-collections-openstack-functional-devstack-releases: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.9: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-xena-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-wallaby-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-victoria-ansible-2.12: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-ussuri-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-train-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  ansible-collections-openstack-functional-devstack-queens-ansible-2.11: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  tripleo-ci-centos-8-standalone-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-9-standalone-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-8-standalone-train-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-8-standalone-wallaby-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^setup.*$, tox.ini)
  tripleo-ci-centos-9-standalone-wallaby-osa: (any of: ^plugins/modules/catalog_service.*$, ^plugins/modules/endpoint.*$, ^plugins/modules/identity_domain.*$, ^plugins/modules/identity_domain_info.*$, ^plugins/modules/identity_role.*$, ^plugins/modules/identity_user.*$, ^plugins/modules/keypair.*$, ^plugins/modules/project.*$, ^plugins/modules/role_assignment.*$, ^plugins/modules/stack.*$, ^plugins/module_utils/openstack.*$) and (unless all of: .*molecule.*, ^.*\.md$, ^.*\.rst$, ^docs/.*$, ^contrib/.*$, ^changelogs/.*$, ^meta/.*$, ^tests/.*$, ^tools/.*$, ^requirements.*$, ^setup.*$, tox.ini)
  bifrost-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
  bifrost-keystone-collections-src: unless all of: changelogs/.*, galaxy.*, COPYING, docs/.*, .*\.md, .*\.rst, tools/run-ansible-sanity.sh, tests/sanity/.*, contrib/.*, .zuul.yaml
